body {
  height: 100vh;
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  margin: 0px;
}

#navScore {
  display: none;
}
nav {
  width: 70vw;
  height: 150px;
  margin: 10px auto;
  justify-content: space-around;
  border: 2px solid white;
  border-radius: 20px;
  background-color: rgba(240, 248, 255, 0);
}
nav img {
  height: 100px;
}
#modeSelector {
  background-color: rgba(240, 248, 255, 0);
  height: 150px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.modeJeuBouton {
  width: 200px;
}
.flecheGauche {
  position: relative;
  filter: invert(100%);
  transform: rotate(-45deg);
  width: 70px;
  left: -150px;
  margin: auto;
  bottom: 25px;
}

.flecheDroite {
  position: relative;
  filter: invert(100%);
  width: 70px;
  transform: rotate(45deg);
  left: -150px;
  margin: auto;
  bottom: -37px;
}

.chooseGameMode {
  position: relative;
  color: white;
  left: -174px;
  margin-top: 40px;
  margin: auto;
}

.modeButton {
  border: none;
  background-color: rgba(245, 245, 220, 0);
}

#displayScore {
  display: none;
  width: 70vw;
  height: 150px;
  margin: auto;
  margin-top: 0px;

  justify-content: space-around;
  align-items: center;
}

.score {
  background-color: white;
  border-radius: 10px;
  width: 180px;
  height: 130px;
  text-align: center;
}

.score--score {
  color: hsl(229, 64%, 46%);
  margin-top: 8px;
}

.score--number {
  color: hsl(229, 25%, 31%);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-size: 60px;
}
main {
  width: 50vw;
  height: 500px;
  margin: auto;
}

#modeStandard {
  display: none;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url(./images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.regleContainer {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-top: -10px;
  background-color: rgba(0, 0, 0, 0.288);
}
.regleStandard {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 13em;
  justify-content: center;
  width: 50vw;
  height: 55vh;
  background-color: white;
  border-radius: 1em;
  overflow: hidden;
}
.regleImg {
  margin: auto;
  height: 40vh;
}

#rulesShow {
  display: none;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 130px;
  height: 40px;
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 600;
  transition: ease-out 0.1s;
}

#rulesShow:hover {
  background-color: white;
  color: hsl(237, 49%, 15%);
}

.regleButton {
  margin-top: 10px;
  background: none;
  margin-left: 10px;
  height: 10px;
  width: 20px;
  border: none;
}
.standard1 {
  grid-area: 2 / 4 / 4 / 6;
}
.standard2 {
  grid-area: 2 / 8 / 4 / 10;
}
.standard3 {
  grid-area: 5 / 6 / 7 / 8;
}

#modeComplex {
  display: none;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  margin-left: 0px;
  background-image: url(./images/bg-pentagon.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
}
.regleComplex {
  display: none;
}
.complex1 {
  grid-area: 1 / 6 / 4 / 8;
}
.complex2 {
  grid-area: 4 / 4 / 7 / 6;
}
.complex3 {
  grid-area: 4 / 8 / 7 / 10;
}
.complex4 {
  grid-area: 8 / 7 / 11 / 9;
}
.complex5 {
  grid-area: 8 / 5 / 11 / 7;
}

button {
  cursor: pointer;
  transition: ease-out 0.1s;
}

button:hover {
  transform: scale(95%);
}

.gameButton {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.rock {
  border: 20px solid red;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  margin-left: 20px;
  margin-top: 40px;
  box-shadow: 0px 10px 10px 1px rgba(35, 25, 25, 0.601) inset;
}
.rockStandard {
  border: 20px solid red;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 10px 10px 1px rgba(35, 25, 25, 0.601) inset;
}
.scissors {
  border: 20px solid rgb(221, 221, 51);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  margin-top: 20px;
  margin-left: 10px;
  box-shadow: 0px 10px 10px 1px rgba(35, 25, 25, 0.601) inset;
}
.scissorsStandard {
  border: 20px solid rgb(221, 221, 51);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 10px 10px 1px rgba(35, 25, 25, 0.601) inset;
}
.paper {
  border: 20px solid rgb(167, 3, 167);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  margin-top: -20px;
  box-shadow: 0px 10px 10px 1px rgba(35, 25, 25, 0.601) inset;
}
.paperStandard {
  border: 20px solid rgb(167, 3, 167);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 10px 10px 1px rgba(35, 25, 25, 0.601) inset;
}
.lizard {
  border: 20px solid purple;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  margin-right: 20px;
  margin-top: 40px;
  box-shadow: 0px 10px 10px 1px rgba(35, 25, 25, 0.601) inset;
}

.lizardStandard {
  border: 20px solid purple;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 10px 10px 1px rgba(35, 25, 25, 0.601) inset;
}
.spock {
  border: 20px solid cyan;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  margin-top: -20px;
  box-shadow: 0px 10px 10px 1px rgba(35, 25, 25, 0.601) inset;
}
.spockStandard {
  border: 20px solid cyan;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 10px 10px 1px rgba(35, 25, 25, 0.601) inset;
}

.result {
  display: flex;
  flex-direction: column;
}

.img--result--container {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: aliceblue;
  border: 20px solid rgb(50, 50, 98);
  box-shadow: 0px 10px 10px 1px rgba(35, 25, 25, 0.601) inset;
}

.logoResult {
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
}
.logoResult--img {
  width: 70px;
  margin: auto;
}

#displayResult {
  display: none;

  margin: auto;
  padding-top: 130px;
  justify-content: space-around;
}
#displayResult p {
  color: white;
  text-align: center;
}

.buttonRestart {
  font-family: "Barlow Semi Condensed", sans-serif;
  width: 150px;
  height: 70px;
  border-radius: 1em;
  border: none;
}
.buttonRestart:hover {
  color: white;
  background-color: hsla(238, 48%, 15%, 0);
  border: 2px solid white;
}
